.home_advantage {
  position: relative;
  z-index: 1;
  background: $dark;
  color: white;
  padding: toRem(60) 0;
  overflow: hidden;

  @include tablet {
    text-align: center;
  }
  @include minTablet {
    padding: 200px 0 90px 0;
  }

  .illu {
    img {
      max-width: 100%;
      height: auto;
      
      @include tablet {
        margin-top: toRem(60);
      }
    }
  }
}