.home {
  &_intro {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 3;
    
    @include minTablet {
      min-height: calc(100vh - 88px);
    }

    .illu {
      position: relative;
      width: 100vw;
      height: 100vw;
      transform: translate(20%, -40px);

      @include tablet {
        max-width: 420px;
        max-height: 420px;
        order: 1;
        z-index: -1;
      }

      @include minTablet {
        position: absolute;
        top: 0;
        right: 0;
        width: 50vw;
        height: 50vw;
        transform: translate(20%, -80px);
      }

      &_wrap {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
      }

      &_circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border: 1px solid $yellow;
        transform: scale(.9);
        border-radius: 50%;
        animation: waves 15s linear infinite;

        &:nth-of-type(2) {
          animation-delay: 5s;
        }

        &:last-of-type {
          animation-delay: 10s;
        }
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }
    
    .content {
      @include tablet {
        margin: toRem(38) 0 toRem(66);
        order: 2;
      }

      @include minTablet {
        min-height: calc(100vh - 88px);
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  &_about {
    position: relative;
    z-index: 2;

    @include minTablet {
      margin-top: toRem(80);
    }

    .illu {
      position: relative;
      display: flex;

      &_wrap {
        position: relative;
        
        img {
          max-width: 100%;
          height: auto;
          transition: all .3s ease;
        }

        @include minTablet {
          transform: translateY(105px);
          
          img {
            border-radius: 0 toRem(16) toRem(16) 0;
          }
        
          &:after {
            content: "";
            position: absolute;
            top: 0%;
            left: 0;
            width: 100%;
            height: 100%;
            background: white;
            z-index: -1;
            transform: translate(32px, 32px) scaleX(1.1);
            border-radius: 0 toRem(16) toRem(16) 0;
            transform-origin: center right;
          }
        }
      }
    }

    @include tablet {
      .content {
        padding: 0 toRem(20);
        margin-top: toRem(80);
        margin-bottom: toRem(66);
      }
    }

    .wrap {
      @include smallDesk {
        padding-left: 0;
      }
  
      @include tablet {
        padding: 0;
      }
    }

    &_title {
      font-size: toRem(15);
      font-weight: 900;
      margin: 0 0 toRem(24) 0;

      @include minTablet {
        font-size: toRem(18);
      }
    }
  }
}


@keyframes waves {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.4);
  }
}