
// Font
$font: 'Open Sauce Sans', sans-serif;

// Colors
$black: #463A2F;
$yellow: #FBCC0B;
$yellow--light: #FEF5CE;
$green: #4FA67C;
$grey: #666462;
$beige: #FFFAF6;
$dark: #2D2D2D;

$mobile: 768px;
$tablet: 990px;
$smallDesk: 1440px;